* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Roboto;

	width: 100%;
	height: 100vh;
}

main {
	width: 100%;
	height: 84vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

a {
	text-decoration: none;
	color: white;
}

/* Reset Button CSS */
button {
	border: none;
	background: none;
}

/* Reset Unordered List CSS */
ul {
	list-style-type: none; /* Remove items bullets */
	padding: 0;
	margin: 0;
}
