<header>
	<h1 class="header-logo">
		<a href="/"><i class="fa-solid fa-house"></i></a>
	</h1>

	<nav class="header-nav-section">
		<ul class="header-nav-list">

			<li class="header-nav-list-item">
				<button class="header-nav-button">
					<span class="header-nav-button-name">Tools</span>
					<span class="header-nav-button-icon"><i class="fa-solid fa-chevron-down"></i></span>
				</button>
			</li>

			<li class="header-nav-list-item">
				<button class="header-nav-button">
					<span class="header-nav-button-name">Blog</span>
					<span class="header-nav-button-icon"><i class="fa-solid fa-chevron-down"></i></span>
				</button>
			</li>

		</ul>
	</nav>

	<nav class="header-user-section">
		<a href="/login">Login</a>
	</nav>
</header>
